*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddedfa;
    margin-left: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.logo{
    align-self: flex-start;
}

.main-container{
    position: relative;
    height: 95%;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 1rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.par{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.start-menu, .game-over{
    position: absolute;
    z-index: 1;
    height: 100%;
    width: inherit;
    background-color:hsl(207, 74%, 92%, 0.5);
}

.start-menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    transition: all 0.5s;
}

.start-heading{
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.start-btns{
    height: 20%;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.randomize, .start-game{
    height: 40%;
    width: 40%;
    border-radius: 10px;
    color: #fff;
    background-color: #283036;
    cursor: pointer;
    border: transparent;
    font-weight: 700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: all 0.5s;
}

.game-over{
    height: 50%;
    width: 50%;
    background-color: #283036;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #fff;
    transition: all 0.5s;
}

.options{
    width: 90%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

.menu, .restart{
    height: 50%;
    width: 40%;
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    border: transparent;
    border-radius: 10px;
    cursor: pointer;
    color: #041e30;
    transition: all 0.5s;
}

a{
    text-decoration: none;
    color: #363030;
}

.left-board, .right-board{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;    
}

.user-fleet-name, .op-fleet-name, .turns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 200px;
    border-radius: 10px;
    background-color: #8ccec3;
    margin-bottom: 10px;
}

.op-fleet-name, .op-ships{
    color: #fff;
    background-color: #5f798b;
}

.turns{
    position: absolute;
    align-self: flex-start;
    background-color: white;
    transition: all 0.5s;
}

.user-ships, .op-ships{
    position: absolute;
    top: 85%;
    left: 7%;
    height: 10%;
    width: 40%;
    background-color: #8ccec3;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.op-ships{
    left: 57%;
    background-color: #5f798b;
}

.user-board, .op-board{
    height: 70%;
    width: 70%;
    padding: 10px;
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 5px;
    transition: opacity 0.5s;
}

.cell, .op-cell{
    width: 2.5em;
    height: 2.5em;
    background-color: lightseagreen;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
}

.op-cell:hover{
    scale: 0.9;
}

.op-y-coord{
    position: relative;
    left: -50%;
}

.op-cell{
    background-color: #384955;
}

.numbers, .user-numbers{
    position: absolute;
    top: 17%;
    left: 58%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    height: 100%;
}

.user-numbers{
    left: 8%;
}

.x-coord{
    align-self: center;
    height: 1px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    gap: 35px;
}

.attacked{
    background-image: url('./src/icons/red-dot.png');
    background-size: cover;
}

.missed{
    border-radius: 50%;
    transform: scale(0.5);
    background-color: rgb(38, 204, 196);
}

.hidden-rt{
    transform: translateX(100vw);
}

.hidden-lt{
    transform: translateX(-100vw);
}

.pre-start{
    opacity: 0.1;
}

.fade{
    opacity: 0.6;
}

.destroyer, .warship, .submarine, .battleboat{
    transition: all 0.5s;
}